<body class='content-horizontal page-color'>
  
  <!-- push -->
  <div class='page-top header-height'></div>
  
  <!-- below: main content area -->
  <section class='region two horizontal page-right fixed-right' style='display:table'></section>
  
  <!-- below: the content at the right -->
  <div class='side-width page-right page-top page-color' style='position:fixed;right:0;top:0;height:100%;'>
    <div class='header-height'></div>
    <section class='region one'></section>
  </div>
  
  <!-- below: the top header -->
  <div style='position:fixed;width:100%;top:0;overflow:hidden;' class='page-top page-color'>
    <div id='content' style='padding-top:0;' class='typo-text apply-aspect-width'>
      <div id='wrapper'>
      
        <header id="header" style='width:100%;'>
          <section class='plugins'></section>
        </header>
      
      </div>
    </div>
  </div>
  
  <footer style="position:fixed;bottom:0;width:100%;text-align:left;" class="typo-text page-left"></footer>
  
</body>
