<body class='content-horizontal header-fixed left-horizontal page-color'>
  
  <!-- main content area -->
  <section class='region two fixed-left horizontal page-top page-right'></section>
  
  <!-- the 'header' fixed at the left side -->
  <header id="header" class='side-width page-top page-left page-color' style='position:fixed;height:100%;'>
   <section class='plugins'></section>
   <section class='region one'></section>
  </header>
  
  <footer style="position:fixed;bottom:0;width:100%;text-align:left;" class="typo-text page-left"></footer>
  
</body>
