<body class='content-horizontal header-fixed page-color'>
  
  
  <section class='region two horizontal page-left page-top fixed-right'></section>
  
  <header id="header" class='side-width fixed-header-right page-top page-right page-color' style='position:fixed;right:0;height:100%;'>
   <section class='plugins'></section>
   <section class='region one'></section>
  </header>
  
  <footer style="position:fixed;bottom:0;width:100%;text-align:right;" class="typo-text page-right"></footer>
  
</body>