<body class='content-horizontal header-fixed top-left-horizontal page-color'>
  
  <div class='page-top header-height'></div>
  <section class='region two fixed-left horizontal page-right'></section>
  
  <!-- below: the content at the left -->
  <div class='side-width page-left page-color' style='position:fixed;height:100%;'>
   <section class='region one'></section>
  </div>
  
  <!-- below: the top header -->
  <div style='position:fixed;width:100%;top:0;overflow:hidden;' class='page-top page-color'>
    <div id='content' style='padding-top:0;' class='typo-text apply-aspect-width'>
      <div id='wrapper'>
      
        <header id="header" style='width:100%;'>
          <section class='plugins'></section>
        </header>
      
      </div>
    </div>
  </div>
  
  <footer style="position:fixed;bottom:0;width:100%;text-align:left;" class="typo-text page-left"></footer>
  
</body>
